
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    margin: auto;
}

:root {
    --cor0: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: arial, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
}

body{
    background-color: #c5ebd6;
    font-family:var(--fonte-padrao)
}


header{
    background-image: linear-gradient( to bottom, var(--cor03), var(--cor04));
    min-height: 150px;
    text-align: center;  
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px black;
}

header > p { 
    color: white;  
    font-size: 1.2em;   
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto; 
    text-shadow: 2px 2px black;
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);
}

nav > a{
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
}

nav > a:hover {
    background-color: #2fa866;
    color: var(--cor04);
    border-radius: 20%;
    padding: 10px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;

}

main a:hover{
    text-decoration:double;
    color: #83e1ad;
}

main strong{
    color: #063d1e;
    font-weight: bold;
    
}

main a{
    background-color: #2fa866;
    text-decoration: none;
    font-weight: bold;
}

main img{
    width: 100%;
}

main img.imgpq{
    max-width: 350;
    display: block;
    margin: auto;
}

main h1 {
    color: rgb(77, 128, 0);
    font-size: 3em;
    font-weight: bold;
}

main h2{
    background-color: #063d1e;
    color: rgb(77, 128, 0);
    font-size: 1.3em;
}
main  p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}
div.video{
    background-color: green;
    text-align: center;
    margin: 0px -20px 30px -20px;
    padding: 20px;
padding-bottom: 70%;
position: relative;
}

div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90% ;
}    

    
    
}
aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411);
}

aside >h3{
    background-color: #063d1e;
    color: #83e1ad;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\1F5F8';
    list-style-position: inside;
    columns: 2;

}
footer{
    background-color:#063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

footer  a:hover{
    text-decoration: none;
    color: #f7f6f8;
}
